In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('diabetes-data/main_data.csv')

In [4]:
df.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [98]:
df

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [8]:
import matplotlib.pyplot as plt

In [119]:
bmi = df[['Diabetes_012', 'Stroke']]

In [120]:
bmi.groupby('Diabetes_012').mean()

                Stroke
Diabetes_012
0.0           0.031628
1.0           0.057223
2.0           0.092457

In [14]:
fruits = df[['Diabetes_012', 'Fruits']]

In [17]:
fruits.groupby('Diabetes_012').mean()

                Fruits
Diabetes_012
0.0           0.643023
1.0           0.602246
2.0           0.585441

In [45]:
from sklearn.neighbors import NearestNeighbors

In [48]:
X= df

In [47]:
model = NearestNeighbors(n_neighbors=5)

In [59]:
model.fit(df[['HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income']])

NearestNeighbors()

In [76]:
x1 =df[['HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income']].iloc[100]

In [141]:
features = ['Sex', 'Age', 'Smoker', 'HeartDiseaseorAttack','HighBP','HighChol', 'BMI']

In [134]:
model.kneighbors(np.array(x1).reshape(1,-1))

(array([[0., 1., 1., 1., 1.]]),
 array([[   100,   1599, 227414,  57836, 114499]]))

In [135]:
df.iloc[114499]

Diabetes_012             0.0
HighBP                   1.0
HighChol                 0.0
CholCheck                1.0
BMI                     27.0
Smoker                   1.0
Stroke                   0.0
HeartDiseaseorAttack     0.0
PhysActivity             1.0
Fruits                   0.0
Veggies                  1.0
HvyAlcoholConsump        0.0
AnyHealthcare            1.0
NoDocbcCost              0.0
GenHlth                  3.0
MentHlth                 0.0
PhysHlth                 0.0
DiffWalk                 0.0
Sex                      1.0
Age                      9.0
Education                6.0
Income                   8.0
Name: 114499, dtype: float64

In [136]:
from sklearn.preprocessing import StandardScaler

In [142]:
X=df[features]

In [146]:
scaler = StandardScaler()
scaled = scaler.fit(X)

In [147]:
import pickle

In [149]:
nn = NearestNeighbors(n_neighbors=5)
nn.fit(X)
pickle.dump(nn, open('./nnmodel.pkl', 'wb'))

In [90]:
len(features)

21

In [92]:
np.array(x1)

array([ 1.,  0.,  1., 27.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,
        3.,  0.,  0.,  0.,  0.,  9.,  6.,  8.])

In [93]:
d_df = df['Diabetes_012']

In [94]:
d_df.to_csv('y.csv')